.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgb(32, 9, 88), rgb(8, 18, 84));
    color: white;
    text-align: center;
    z-index: 2;
    padding: 0px;
    border-radius: 5px;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    display: inline;
    margin-left: 10px;
}

.nav a {
    display: inline-block;
    padding: 10px;
    width: 14%;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 28px;
}